<!--================= main ====================-->
<div id="main">
    <!--=============== header ================--> 
    {{> header}}  
    <!--=============== wrapper ===============--> 
    <div id="wrapper">
        <!-- content-holder  -->
        <div class="content-holder">
            <!-- Page title -->
            <div class="dynamic-title">Portfolio horizontal</div>
            <!-- Page title  end--> 
            <!-- content  -->
            <div class="content hor-content full-height pad-con no-bg-con">
                <!-- filter  -->
                <div class="filter-holder round-filter">
                    <div class="gallery-filters hid-filter">
                        <a href="#" class="gallery-filter transition2 gallery-filter_active" data-filter="*">All</a>
                        {{#if tags}}
                            {{#each tags}}
                            <a href="#" class="gallery-filter transition2" data-filter=".{{slug}}">{{title}}</a>
                            {{/each}}
                        {{/if}} 
                    </div>
                    <div class="clearfix"></div>
                    <div class="filter-button">Filter</div>
                    <div class="count-folio round-counter">
                        <div class="num-album"></div>
                        <div class="all-album"></div>
                    </div>
                </div>
                <!-- filter end -->           
                <!--=============== portfolio holder ===============-->
                <div class="resize-carousel-holder hpw">
                    <div class="p_horizontal_wrap">
                        <div id="portfolio_horizontal_container" class="two-ver-columns">   
                            {{#if portfolio}}
                                {{#each portfolio}}
                                    <!-- portfolio item -->
                                    <div class="portfolio_item interior {{#each metadata.tags}}{{slug}} {{/each}}">
                                        <img  src="{{metadata.lead_image.imgix_url}}"    alt="{{title}}">
                                        <div class="port-desc-holder">
                                            <div class="port-desc">
                                                <div class="grid-item">
                                                    <h3><a href="/portfolio/{{slug}}">{{title}}</a></h3>
                                                    <span>{{metadata.location}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- portfolio item end -->
                                {{/each}}
                            {{/if}}
                                                                                                         
                        </div>
                        <!--portfolio_horizontal_container  end-->        
                    </div>
                    <!--p_horizontal_wrap  end-->                    
                </div>
            </div>
            <!-- content end -->
            <!-- share  -->
            <div class="share-inner">
                <div class="share-container  isShare"  data-share="['facebook','googleplus','twitter','linkedin']"></div>
                <div class="close-share"></div>
            </div>
            <!-- share end -->
        </div>
        <!-- content-holder  end-->
    </div>
    <!--=============== footer ================--> 
    {{> leftbar}} 
</div>



