<!--================= main ====================-->
<div id="main">
    <!--=============== header ================-->
    {{> header}}
    <!--=============== wrapper ===============-->
    <div id="wrapper">
        <!-- content-holder  -->
        <div class="content-holder">
            <!-- Page title -->
            <div class="dynamic-title">About us</div>
            <!-- Page title  end-->
            <!-- content  -->
            <div class="content">
                <section class="parallax-section">
                    <div class="parallax-inner">
                        <div class="bg" data-bg="{{header}}" data-top-bottom="transform: translateY(300px);" data-bottom-top="transform: translateY(-300px);"></div>
                        <div class="overlay"></div>
                    </div>
                    <div class="container">
                        <div class="page-title">
                            <div class="row">
                                <div class="col-md-6">
                                    <h2>About <strong>Us</strong></h2>
                                </div>
                                <div class="col-md-6">
                                    <ul class="creat-list">
                                        <li><a href="/">Home</a></li>
                                        <li><a href="/about">About</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!-- content end -->
            <!-- content  -->
            <div class="content">
                <section>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h2 class="section-title  dec-title"><span>Our<strong> Team</strong></span></h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <!-- team -->
                                <ul class="team-holder">
                                    <!-- 1 -->
                                    <li>
                                        <div class="team-box" data-top-bottom="transform: translateY(-50px);" data-bottom-top="transform: translateY(50px);">
                                            <div class="team-photo">
                                                {{!-- <div class="overlay"></div>
                                                <ul class="team-social">
                                                    <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                                    <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                    <li><a href="#" target="_blank"><i class="fa fa-tumblr"></i></a></li>
                                                    <li><a href="#" target="_blank"><i class="fa fa-behance"></i></a></li>
                                                </ul> --}}
                                                <img src="https://images.squarespace-cdn.com/content/v1/5d755b543266a3205bff0398/1574655798344-E33I3JSP8DZDVW0W27XS/ke17ZwdGBToddI8pDm48kHrjr6XQz_FwlnBOObN9v_1Zw-zPPgdn4jUwVcJE1ZvWEtT5uBSRWt4vQZAgTJucoTqqXjS3CfNDSuuf31e0tVENLoTjKZhTDeotHQ4l2tojzlKfW0s8n3olr6A4R3h7heFona9BBircsio8BQI8CSU/cover.jpg?format=750w" alt="" class="respimg">
                                            </div>
                                            <div class="team-info">
                                                <h3><a href="team-single.html">Pat Connaughton</a></h3>
                                                <h4>PRESIDENT</h4>
                                            </div>
                                        </div>
                                    </li>
                                    <!-- 1 end  -->
                                    <!-- 2 -->
                                    <li>
                                        <div class="team-box" data-top-bottom="transform: translateY(100px);" data-bottom-top="transform: translateY(-100px);">
                                            <div class="team-photo">
                                                {{!-- <div class="overlay"></div>
                                                <ul class="team-social">
                                                    <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                                    <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                    <li><a href="#" target="_blank"><i class="fa fa-tumblr"></i></a></li>
                                                    <li><a href="#" target="_blank"><i class="fa fa-behance"></i></a></li>
                                                </ul> --}}
                                                <img src="https://secureservercdn.net/198.71.233.104/f15.586.myftpupload.com/wp-content/uploads/2017/12/Len-Connaughton.png" alt="" class="respimg">
                                            </div>
                                            <div class="team-info">
                                                <h3><a href="team-single.html">Len Connaughton</a></h3>
                                                <h4>VICE PRESIDENT</h4>
                                            </div>
                                        </div>
                                    </li>
                                    <!-- 2 end  -->
                                    <!-- 3 -->
                                    <li>
                                        <div class="team-box" data-top-bottom="transform: translateY(-50px);" data-bottom-top="transform: translateY(50px);">
                                            <div class="team-photo">
                                                {{!-- <div class="overlay"></div>
                                                <ul class="team-social">
                                                    <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                                    <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                    <li><a href="#" target="_blank"><i class="fa fa-tumblr"></i></a></li>
                                                    <li><a href="#" target="_blank"><i class="fa fa-behance"></i></a></li>
                                                </ul> --}}
                                                <img src="https://images.squarespace-cdn.com/content/v1/5d755b543266a3205bff0398/1577160130192-AQ7K5RH459T3GUV045V7/ke17ZwdGBToddI8pDm48kOyctPanBqSdf7WQMpY1FsRZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpwwQIrqN0bcqL_6-iJCOAA0qwytzcs0JTq1XS2aqVbyK6GtMIM7F0DGeOwCXa63_4k/Joe-Stanton.jpg?format=750w" alt="" class="respimg">
                                            </div>
                                            <div class="team-info">
                                                <h3><a href="team-single.html">Joseph Stanton</a></h3>
                                                <h4>DIRECTOR OF PROJECT MANAGEMENT</h4>
                                            </div>
                                        </div>
                                    </li>
                                    <!-- 3 end  -->
                                </ul>
                                <!-- team end  -->
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!-- content  end-->
            <!-- content  -->
            <div class="content">
                <section>
                    <div class="container">
                        <!-- 1 -->
                        <div class="row">
                            <div class="col-md-12">
                                <h2 class="section-title  dec-title" style="margin-bottom: 90px;"><span>Our<strong> Story</strong></span></h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                <div class="parallax-item ">
                                    <div class="paralax-media">
                                        <div class="paralax-wrap">
                                            <img src="images/folio/1.png" class="respimg" alt="">
                                        </div>
                                    </div>
                                    <div class="parallax-deck leafright" data-top-bottom="transform: translateY(-200px);" data-bottom-top="transform: translateY(500px);">
                                        <div class="parallax-deck-item" style="max-width: 800px;">
                                            <h3><strong>Beginnings</strong></h3>
                                            <p>Pat Connaughton grew up working with his father Len Connaughton at his job sites as early as the 7th grade. He would haul lumber and sheetrock up and down stairs and clean up the job sites at the end of the day. Joe Stanton would work alongside Pat in the summers. The work was not glamorous but it taught Pat and Joe the meaning of hard work and gave them a first hand perspective in house and building development.</p>  
                                            <p>By high school Pat was exploring the business end of housing development; learning about the numbers that go into buying, renovating, and selling. He marveled in idea that Len could take a building or house that was run down and unwanted, and turn it into a place many people desired to call home.</p> 
                                            <p>As Pat went through college, he continued to watch and learn from Len as he renovated houses in South Bend. By the time he received his signing bonus for baseball in the 2014 MLB draft, he knew it was time to partner up with his dad. Together, they worked on their first project: a house that was initially so unlivable, Pat's mom and aunt wouldn't step into the property based on it's condition. After the renovation completed, it because the house Pat lived for his senior year, and created memorable family events. After this initial success, Pat was certain this was the business he would invest in for the future. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5"></div>
                        </div>
                        <!-- 1 end-->
                        <!-- 2 -->
                        <div class="row">
                            <div class="col-md-5"></div>
                            <div class="col-md-7">
                                <div class="parallax-item">
                                    <div class="paralax-media">
                                        <div class="paralax-wrap">
                                            <img src="images/folio/2.png" class="respimg" alt="">
                                        </div>
                                    </div>
                                    <div class="parallax-deck leafleft" data-top-bottom="transform: translateY(-10px);" data-bottom-top="transform: translateY(200px);">
                                        <div class="parallax-deck-item" style="max-width: 800px;">
                                            <h3><strong>Establishing a Business</strong></h3>
                                            <p>Three Leaf development was established (initially under the name Beach House LLC) and Len Connaughton closed his company to join his son and work full time on their projects. Together, they developed housing projects in Portland, Oregon as Pat joined the Trailblazers during the 2015/16 and 2016/17 seasons.</p>
                                            <p>After weighing up the pros and cons of these completed projects, Pat realized that the business model is not ideal for the financial standing of a professional athlete. Fortunate with the steady income provided by his “day job”, he shifted the model of Three Leaf Development into building a cash flowing portfolio of multifamily and mixed-use assets, with the goal of having a greater long term pay off using this model.</p>
                                            <p>Three Leaf purchased property at Notre Dame, and land in Oregon (N Randall), with the purpose of holding on to these assets to generate longterm wealth. By this time, interest also started to gather from Pat's peers in the NBA with growing interest to get invovled. Although it was never in the plan to take on investors, Pat realized the project growth this would allow. He realized a new desire to help his fellow pro athletes combat the typical financial stereotypes, and help them generate wealth after their playing careers come to an end.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 2 end-->
                        <!-- 1 -->
                        <div class="row">
                            <div class="col-md-7">
                                <div class="parallax-item left-direction">
                                    <div class="paralax-media">
                                        <div class="paralax-wrap">
                                            <img src="images/folio/3.png" class="respimg" alt="">
                                        </div>
                                    </div>
                                    <div class="parallax-deck leafright" data-top-bottom="transform: translateY(-200px);" data-bottom-top="transform: translateY(10px);">
                                        <div class="parallax-deck-item" style="max-width: 800px;">
                                            <h3><strong>The Path Ahead</strong></h3>
                                            <p>With this new business model in hand, the future of Three Leaf Development is an exciting one. Projects continue to develop in the areas of Oregon, Milwaukee, Boston, and South Bend (Notre Dame). With a handful of investors already on board, Three Leaf continues to raise money to create a bigger investment vehicle; one that will allow for many more athletes to get involved, learn how the business works, while seeing their money work for them.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5"></div>
                        </div>
                    </div>
                </section>
            </div>
            <!-- content end -->
            <!-- content  -->
            <div class="content dark-bg" id="news">
                <!-- parallax image  -->
                <div class="parallax-inner">
                    <div class="bg" data-top-bottom="transform: translateY(300px);" data-bottom-top="transform: translateY(-300px);" style="background: #000;"></div>
                    <div class="overlay"></div>
                </div>
                <!-- parallax image  end-->
                <section>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <h2 class="section-title">In the News</h2>
                            </div>
                            <div class="col-md-8">
                                <div class="testimon-slider-holder">
                                    <div class="testimon-slider">

                                        {{#if news}}
                                            {{#each news}}
                                                <div class="item">
                                                    <a href="{{metadata.url}}" style="color: white;" target="_blank">
                                                        <h3>{{title}}</h3>
                                                    </a>
                                                    <a href="{{metadata.url}}" class="text-link" target="_blank">Via {{metadata.source}}</a>
                                                </div>
                                            {{/each}}
                                        {{/if}} 
                                    </div>
                                    <div class="customNavigation">
                                        <a class="prev-slide transition"><i class="fa fa-angle-left"></i></a>
                                        <a class="next-slide transition"><i class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!-- content end --> 
            <!-- content footer-->
            <div class="height-emulator"></div>
            {{> footer}}
            <!-- content footer end -->
            <!-- share  -->
            <div class="share-inner">
                <div class="share-container  isShare" data-share="['facebook','googleplus','twitter','linkedin']"></div>
                <div class="close-share"></div>
            </div>
            <!-- share end -->
        </div>
        <!-- content-holder  end-->
    </div>
    <!--=============== footer ================-->
    {{> leftbar}}
</div>