<!--================= main ====================-->
<div id="main">
    <!--=============== header ================--> 
    {{> header}}  
    <!--=============== wrapper ===============-->  
    <div id="wrapper">
        <div class="content-holder">
            <!-- Page title -->
            <div class="dynamic-title">Home</div>
            <!-- Page title  end--> 
            <!-- content  -->
            <div class="content full-height" id="carousel">
                <!-- Hero section   -->
                <div class="hero-wrap">
                    <!-- Hero image   -->
                    <div class="slideshow-item owl-carousel" data-top-bottom="transform: translateY(300px);" data-bottom-top="transform: translateY(-300px);">
                        <!-- 1 -->
                        <div class="item">
                            <div class="bg" style="background-image:url(images/home/unsplash-2.jpg)"></div>
                        </div>
                        <!-- 2 -->
                        <div class="item">
                            <div class="bg" style="background-image:url(https://imgix.cosmicjs.com/3d668e50-b658-11ea-951a-6512c0360f53-declan248-1.jpg)"></div>
                        </div>
                        <!-- 3 -->
                        <div class="item">
                            <div class="bg" style="background-image:url(images/home/unsplash-4.jpg)"></div>
                        </div>
                    </div>
                    <!-- Hero image   end -->
                    <div class="overlay"></div>
                    <!-- Hero text   -->
                    <div class="hero-wrap-item center-item" style="top: 35%;">
                        <img src="/images/home/home-lede.png" alt="" class="img-responsive" style="max-height: 250px; margin-bottom: 50px;">
                        <h3>Real Estate. Development. Value.</h3>

                    </div>
                    <!-- Hero text   end-->
                    <a href="#sec1" class="hero-scroll-link custom-scroll-link" data-top-bottom="transform: translateY(50px);" data-bottom-top="transform: translateY(-50px);"><i class="fa fa-angle-down"></i></a>
                </div>
                <!-- Hero section   end -->
            </div>
            <!-- content end -->
            <!-- content  -->
            <div class="content" id="about">
                <section id="sec1"> 
                    <!--  container  --> 
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- section title  -->
                                <h2 class="section-title">Three Leaf Development has over <br> <strong>30 years of expertise</strong> <br> in real estate development.</h2>
                                <!-- section title  end -->
                            </div>
                            <div class="col-md-12">
                                <p>It is with this expertise that we have been able to develop and construct beautiful homes and buildings all over the country. The phenomenal quality, great design, and attention to detail allow for major value creation for each different project.</p>
                                
                                <a href="/about" class="btn anim-button fl-l"><span>Our Story</span><i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <!--  container end  -->  
                </section>
            </div>
            <!-- content  end  -->        
            <!-- content   --> 
            <div class="content dark-bg" id="counter">                                                     
                <!-- parallax image  -->                        
                <div class="parallax-inner">
                    <div class="bg" data-bg="images/home/unsplash-5.jpg" data-top-bottom="transform: translateY(300px);" data-bottom-top="transform: translateY(-300px);"></div>
                    <div class="overlay"></div>
                </div>
                <!-- parallax image  end -->  
                <section>
                    <!--  container  --> 
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                {{!-- <h2 class="section-title">At A <strong>Glance</strong></h2> --}}
                            </div>
                            <div class="col-md-10 col-md-offset-1">
                                <!-- facts   -->  
                                <div class="inline-facts-holder row">
                                    <!-- 1 -->
                                    <div class="inline-facts col-md-4 ">
                                        <div class="milestone-counter">
                                            <div class="stats animaper">
                                                <div class="num" data-content="50" data-num="50">0</div>
                                            </div>
                                        </div>
                                        <h6>Finished projects</h6>
                                    </div>
                                    <!-- 3 -->
                                    <div class="inline-facts col-md-4">
                                        <div class="milestone-counter">
                                            <div class="stats animaper">
                                                <div class="num" data-content="30" data-num="30">0</div>
                                            </div>
                                        </div>
                                        <h6>Years Experience</h6>
                                    </div>
                                    <!-- 3 -->
                                    <div class="inline-facts col-md-4">
                                        <div class="milestone-counter">
                                            <div class="stats animaper">
                                                <div class="num" data-content="5" data-num="5">5</div>
                                            </div>
                                        </div>
                                        <h6>States Represented</h6>
                                    </div>
                                </div>
                                <!-- facts   end --> 
                            </div>
                        </div>
                    </div>
                    <!--  container  end --> 
                </section>
            </div>
            <!-- content  end  -->
            <!-- content  -->
            <div class="content" id="services">
                <section>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8">
                                <h2 class="section-title">Our <strong>Services </strong></h2>
                            </div>
                        </div>
                        <div class="services-holder">
                            <!-- 1 -->
                            <a class="serv-item" href="#ser1">
                                <div class="serv-item-inner">
                                    <img  src="images/home/residential.jpg"   alt="">
                                    <div class="ser-title">
                                        <h3>Residential Development</h3>
                                    </div>
                                </div>
                            </a>
                            <!-- 1 end-->
                            <!-- 2 -->
                            <a class="serv-item" href="#ser2">
                                <div class="serv-item-inner">
                                    <img  src="images/home/commercials.jpg"   alt="">
                                    <div class="ser-title">
                                        <h3>Commercial Development</h3>
                                    </div>
                                </div>
                            </a>
                            <!-- 2 end -->
                            <!-- 3 -->
                            <a class="serv-item" href="#ser3">
                                <div class="serv-item-inner">
                                    <img  src="images/home/mixeduse.jpg"   alt="">
                                    <div class="ser-title">
                                        <h3>Property management</h3>
                                    </div>
                                </div>
                            </a>
                            <!-- 3 end -->
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <!-- serv-post  -->     
                                <div class="serv-post">
                                    <!-- 1 -->
                                    <div id="ser1" class="serv-details">
                                        <h3>Residential Development</h3>
                                        <p>Development and new construction of luxury single-family homes, and luxury condominiums. </p>
                                        <ul class="ser-list">
                                            <li>Luxury single-family homes 4,000 sf and up</li>
                                            <li>Multi-unit condominium new construction</li>
                                            <li>Multi-unit condominium existing building renovation</li>
                                        </ul>
                                    </div>
                                    <!-- 1 end --> 
                                    <!-- 2 -->
                                    <div id="ser2" class="serv-details">
                                        <h3>Commercial Development</h3>
                                        <p>Construction and refurbishment for retail, institutional, and office spaces.</p>
                                        <ul class="ser-list">
                                            <li>Multi-unit condominium existing building renovation</li>
                                        </ul>
                                    </div>
                                    <!-- 2 end --> 
                                    <!-- 3 -->
                                    <div id="ser3" class="serv-details">
                                        <h3>Property Management</h3>
                                        <ul class="ser-list">
                                            <li>We manage each property closely using a vast network. </li>
                                            <li>Our expertise provides a high touch service that keeps unites rented and well maintained.</li>
                                        </ul>
                                    </div>
                                    <!-- 3 end -->  
                                </div>
                                <!-- serv-post end-->
                            </div>
                            <div class="col-md-6"></div>
                        </div>
                    </div>
                </section>
            </div>
            <!-- content end --> 
            <!-- content  -->
            <div class="content dark-bg" id="news">
                <!-- parallax image  -->
                <div class="parallax-inner">
                    <div class="bg" data-top-bottom="transform: translateY(300px);" data-bottom-top="transform: translateY(-300px);" style="background: #000;"></div>
                    <div class="overlay"></div>
                </div>
                <!-- parallax image  end-->
                <section>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <h2 class="section-title">In the News</h2>
                            </div>
                            <div class="col-md-8">
                                <div class="testimon-slider-holder">
                                    <div class="testimon-slider">
                                        <!-- 1 -->
                                        <div class="item">
                                            <a href="https://www.bizjournals.com/milwaukee/news/2019/12/05/bucks-guard-pat-connaughton-shoots-for-milwaukee.html?iana=hpmvp_mil_news_headline" style="color: white;" target="_blank">
                                                <h3>Bucks guard Pat Connaughton shoots for Milwaukee development on Brady Street</h3>
                                            </a>
                                            <a href="https://www.bizjournals.com/milwaukee/news/2019/12/05/bucks-guard-pat-connaughton-shoots-for-milwaukee.html?iana=hpmvp_mil_news_headline" class="text-link" target="_blank">Via Milwaukee Business Journal</a>
                                        </div>
                                        <!-- 1 end-->
                                        <!-- 2 -->
                                        <div class="item">
                                            <a href="https://www.bizjournals.com/milwaukee/news/2019/12/05/bucks-guard-pat-connaughton-shoots-for-milwaukee.html?iana=hpmvp_mil_news_headline" style="color: white;">
                                                <h3>Bucks guard Pat Connaughton shoots for Milwaukee development on Brady Street</h3>
                                            </a>
                                            <a href="https://www.bizjournals.com/milwaukee/news/2019/12/05/bucks-guard-pat-connaughton-shoots-for-milwaukee.html?iana=hpmvp_mil_news_headline" class="text-link" target="_blank">Via Milwaukee Business Journal</a>
                                        </div>
                                        <!-- 2 end-->
                                    </div>
                                    <div class="customNavigation">
                                        <a class="prev-slide transition"><i class="fa fa-angle-left"></i></a>
                                        <a class="next-slide transition"><i class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!-- content end -->       
            <!-- content  end  -->
            <!-- content   -->         
            <div class="content" id="featured">
                <section>      
                    <!--  container  --> 
                    <div class="container">
                        <!--  section title -->
                        <div class="row">
                            <div class="col-md-12">
                                <h2 class="section-title algn-right dec-title"><span>featured  <strong> Projects</strong></span></h2>
                            </div>
                        </div>
                        <!--  section title end  -->
                        <!--  Parallax items  -->
                        <!-- 1 --> 
                        {{#if portfolio}}
                            {{#each portfolio}}
                            <div class="row">
                                <div class="col-md-7 col-md-offset-2">
                                    <div class="parallax-item left-direction">
                                        <div class="paralax-media">
                                            <ul class="creat-list">
                                                {{#each metadata.tags}}
                                                <li><a href="/portfolio">{{title}}</a></li>
                                                {{/each}}
                                            </ul>
                                            <div class="paralax-wrap">
                                                <img src="{{metadata.lead_image.imgix_url}}" class="respimg" alt="{{title}}">
                                            </div>
                                        </div>
                                        <div class="parallax-deck" data-top-bottom="transform: translateY(-200px);" data-bottom-top="transform: translateY(200px);">
                                            <div class="parallax-deck-item">
                                                <h3><strong>{{title}}</strong></h3>
                                                <h3>{{metadata.location}}</h3>
                                                <a href="/portfolio/{{slug}}" class="btn anim-button fl-l"><span>View Project</span><i class="fa fa-long-arrow-right"></i></a>                                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5"></div>
                            </div>
                            {{/each}}
                        {{/if}}                                    
                        <!-- custom-link-holder  --> 
                        <div class="custom-link-holder">
                            <a href="/portfolio" class="btn btn-block anim-button"  data-top-bottom="transform: translateY(-50px);" data-bottom-top="transform: translateY(50px);"><span>View All Projects</span><i class="fa fa-long-arrow-right"></i></a>   
                        </div>
                        <!-- custom-link-holder  end --> 
                    </div>
                    <!--  container  end --> 
                </section>
            </div>
            <!-- content end -->
            {{> footer}}
        </div>
    </div>
    <!--=============== footer ================--> 
    {{> leftbar}} 
</div>
