<!--================= main ====================-->
<div id="main">
    <!--=============== header ================--> 
    {{> header}}  
    <!--=============== wrapper ===============--> 
    <div id="wrapper">
        <!-- content-holder  -->
        <div class="content-holder">
            <!-- Page title -->
            <div class="dynamic-title">{{title}}</div>
            <!-- Page title  end--> 
            <!-- content  -->
            <!-- content  -->
            <div class="content">
                <section class="parallax-section">
                    <div class="parallax-inner">
                        <div class="bg" data-bg="images/bg/1.jpg" data-top-bottom="transform: translateY(300px);" data-bottom-top="transform: translateY(-300px);"></div>
                        <div class="overlay"></div>
                    </div>
                    <div class="container">
                        <div class="page-title">
                            <div class="row">
                                <div class="col-md-6">
                                    <h2>Our <strong> portfolio </strong></h2>
                                </div>
                                <div class="col-md-6">
                                    <ul class="creat-list">
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="portfolio4.html">Portfolio</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!-- content end -->
            <div class="content">
                <section>
                    <div class="container">
                        <!-- filter -->
                        <div class="filter-holder inline-filter">
                            <div class="gallery-filters">
                                <a href="#" class="gallery-filter transition2 gallery-filter_active" data-filter="*">All</a>
{{!--                                 <a href="#" class="gallery-filter transition2" data-filter=".interior">Interior</a>
                                <a href="#" class="gallery-filter transition2" data-filter=".construction">Construction</a>
                                <a href="#" class="gallery-filter transition2" data-filter=".design">Design</a>
                                <a href="#" class="gallery-filter transition2" data-filter=".houses">Houses</a> --}}
                                {{#if tags}}
                                    {{#each tags}}
                                    <a href="#" class="gallery-filter transition2" data-filter=".{{slug}}">{{title}}</a>
                                    {{/each}}
                                {{/if}} 
                            </div>
                            <div class="count-folio">
                                <div class="num-album"></div>
                                <div class="all-album"></div>
                            </div>
                        </div>
                        <!-- filter end-->
                        <!--=============== portfolio holder ===============-->
                        <div class="gallery-items three-columns grid-small-pad ">
                            {{#if portfolio}}
                                {{#each portfolio}}
                                <div class="gallery-item {{#each metadata.tags}}{{slug}} {{/each}}">
                                    <div class="grid-item-holder">
                                        <img  src="{{metadata.lead_image.imgix_url}}"    alt="{{title}}">
                                        <div class="port-desc-holder">
                                            <div class="port-desc">
                                                <div class="grid-item">
                                                    <h3><a href="/portfolio/{{slug}}">{{title}}</a></h3>
                                                    <span>{{metadata.location}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                            {{/if}} 
                        </div>
                        <!-- end gallery items -->               
                        <!-- custom-link-holder  --> 
                        {{!-- <div class="custom-link-holder">
                            <a href="contact.html" class="btn anim-button"  data-top-bottom="transform: translateY(-50px);" data-bottom-top="transform: translateY(50px);"><span>To order Project</span><i class="fa fa-long-arrow-right"></i></a>  
                        </div> --}}
                        <!-- custom-link-holder  end -->
                    </div>
                </section>
            </div>
            <!-- content end -->
            <!-- content footer-->
            <div class="height-emulator"></div>
            {{> footer}}
            <!-- content footer end -->
            <!-- share  -->
            <div class="share-inner">
                <div class="share-container  isShare"  data-share="['facebook','googleplus','twitter','linkedin']"></div>
                <div class="close-share"></div>
            </div>
            <!-- share end -->
        </div>
        <!-- content-holder  end-->
    </div> 
    <!--=============== footer ================--> 
    {{> leftbar}} 
</div>



